body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f8e8dd;}
  
.navcolor{
    background-color:#1e83f7;
    box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.1607843137254902);
    transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    height: 65px;
  position:fixed;
  width: 100%;
}
.navbar-expand-lg .navbar-collapse { 
  gap: 1200px;
}
.imagenheader1{
width: 150px;
}

.colorpg:hover{
    color:#0077b6
}


.orden-container {
  background: #fff;
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.header {
  display: flex;
  gap: 20px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 15px;
  text-align: center;
  margin-top:70px ;
}

.logo {
  width: 322px;
  height: 188px
}

.oc-box {
  margin-left: auto;
  border: 2px solid #000;
  padding: 10px;
  width: 200px;
  height: 135px;
  text-align: center;
  font-weight: bold;
}

.proveedor, .formulario {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

input, select {
  padding: 8px;
  border: 1px solid #ccc;
  width: 100%;
}

button {
  background: #0d6efd;
  color: #fff;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.finalizar {
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background: #0d6efd;
  color: #fff;
}

.totales {
  text-align: right;
  margin-top: 15px;
}

h1{
  margin: 10px;
}

h2{
  margin: 0px;
}
p{
  margin: 0px;
}